Binaries
DerivedDataCache
Saved
.vs
.idea  
Intermediate
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# Template MAPS Ignore
Content/Elite_FractalDesert/Maps
Content/Elite_FractalGlacier/Maps
Content/AncientTreasures/Maps
Content/InfinityBladeWeapons/Maps